<!doctype html>
    html
        .head
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            link(href="styles/main.css",rel="stylesheet")
            <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">

        .body
            include sections/header.pug
            include sections/main-layout.pug
            include sections/about-us.pug
            include sections/detail.pug
            include sections/project.pug
            include sections/services.pug
            include sections/impress.pug
            include sections/portfolio.pug
            include sections/team.pug
            include sections/talk.pug
            include sections/test.pug
            include sections/news.pug
            include sections/price.pug
            include sections/subscribe.pug
            include sections/contact.pug
            include sections/submit.pug
            include sections/map.pug
            include sections/footer.pug
            script(src="/js/script.js")
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIgPJUwGcoufPjgqK9XmyP7EQyvjS0Nts&callback=myMap" async defer></script>