.contact#contact
    .container
        .contact__content
            .contact__title Contact Us
            .contact__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .contact__prewiew
                .contact__prewiew_item
                    .contact__prewiew_item_img1
                        img(alt="icon" src="./img/contact_mess.png")
                    .contact__prewiew_item_content
                        .contact__prewiew_item_content_title EMAIL
                        .contact__prewiew_item_content_text hello@codecafe.com<br>Personal@codecafe.com
                .contact__prewiew_item
                    .contact__prewiew_item_img2
                        img(alt="icon" src="./img/contact_yan.png")
                    .contact__prewiew_item_content
                        .contact__prewiew_item_content_title OUR OFFICE
                        .contact__prewiew_item_content_text 240 Bhatikhana, 8200 Barisal<br> Bangladesh
                .contact__prewiew_item
                    .contact__prewiew_item_img3
                        img(alt="icon" src="./img/contact_phone.png")
                    .contact__prewiew_item_content
                        .contact__prewiew_item_content_title PHONE
                        .contact__prewiew_item_content_text +00 11 66 99 66 44 <br>11 99 66 44 065