.detail
    .container
        .detail__content
            .detail__title DetailS ABOUT BOUNCY
            .detail__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .detail__icon
                <button class="detail__button">
                    img.detail__button_icon(alt="icon" src="./img/detail_love.png")
                </button>
                <button class="detail__button">
                    img.detail__button_icon(alt="icon" src="./img/detail_mouse.png")
                </button>
                <button class="detail__button">
                    img.detail__button_icon(alt="icon" src="./img/detail_light.png")
                </button>
            .detail__prewiew
                .detail__prewiew_left
                    .detail__prewiew_left_title Creative Ideas
                    .detail__prewiew_left_text At <span class='blue'>vero</span> eos et accusamus et iusto odio dignissimos <span class='grey'>ducimus</span> qui  
                .detail__prewiew_right
                    .detail__prewiew_right_title
                    .detail__prewiew_right_text  <span class='grey'> corrupti quos </span> dolores et quas molestias <span class='blue'> excepturi</span> sint occaecati cupiditate non provident,<span class='grey'> similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
            .detail__prewiew
                .detail__prewiew_left
                    .detail__prewiew_left_title Creative Design
                    .detail__prewiew_left_text At <span class='blue'>vero</span> eos et accusamus et iusto odio dignissimos <span class='grey'>ducimus</span> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                .detail__prewiew_right
                    .detail__prewiew_right_title
                    .detail__prewiew_right_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <span class='grey'> corrupti quos </span> dolores et quas molestias <span class='blue'> excepturi</span> sint occaecati cupiditate non provident,<span class='grey'> similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
            .detail__prewiew
                .detail__prewiew_left
                    .detail__prewiew_left_title Creative Dream
                    .detail__prewiew_left_text At <span class='blue'>vero</span> eos et accusamus et iusto odio dignissimos <span class='grey'>ducimus</span> qui blanditiis praesentium voluptatum 
                .detail__prewiew_right
                    .detail__prewiew_right_title
                    .detail__prewiew_right_text At vero eos et accusamus et iusto odio dignissimosvoluptatum deleniti atque <span class='grey'> corrupti quos </span> dolores et quas molestias <span class='blue'> excepturi</span> sint occaecati cupiditate non provident,<span class='grey'> similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r











