.footer
    .container
        .footer__content
            .footer__title Bouncy 
            .footer__text Copyright 2015. All rights Reserved
            .footer__button
                <button class="submit footer__button_icon1">
                    img(alt="icon" src="./img/footer_f.png")
                </button>
                <button class="submit footer__button_icon2">
                    img(alt="icon" src="./img/footer_t.png")
                </button>
                <button class="submit footer__button_icon3">
                    img(alt="icon" src="./img/footer_l.png")
                </button>
                <button class="submit footer__button_icon4">
                    img(alt="icon" src="./img/footer_i.png")
                </button>
                <button class="submit footer__button_icon5">
                    img(alt="icon" src="./img/footer_v.png")
                </button>