.header
    .header_left Bouncy   
    .header_right
        .header_right_menu
            img.header_right_menu(alt="icon" src="./img/burger.png")
        .header_right_item
            a(class= 'header_right_item_link', href="") Hello
            a(class= 'header_right_item_link', href="") About      
            a(class= 'header_right_item_link', href="") Services  
            a(class= 'header_right_item_link', href="") Portfolio     
            a(class= 'header_right_item_link', href="") Team       
            a(class= 'header_right_item_link', href="") Blog       
            a(class= 'header_right_item_link', href="") Contact
        