.header
    .header_left Bouncy   
    .header_right_menu
        img.header_right_menu(alt="icon" src="./img/burger.png")
    .header_right_item
        a(class= 'header_right_item_link', href="#hello") Hello
        a(class= 'header_right_item_link', href="#about") About      
        a(class= 'header_right_item_link', href="#services") Services  
        a(class= 'header_right_item_link', href="#portfolio") Portfolio     
        a(class= 'header_right_item_link', href="#team") Team       
        a(class= 'header_right_item_link', href="#blog") Blog       
        a(class= 'header_right_item_link', href="#contact") Contact
        