.impress
    .impress_left
        .impress__title Impressed ?
        .impress__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
        .impress__more - Abdullah Noman <br>Creatice Director, <span class="blue">Code Cafe</span>
    .impress_right B<span class="blue">o</span>uncy

