.main#hello
    .container
        .main__content
            .main__title We Are Code Cafe
            .main__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            a(class="submit main__button", href="#scroll")
                img(alt="icon" src="./img/main_button.png")
            