.main
    .container
        .main__content
            .main__title We Are Code Cafe
            .main__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            <button class="submit main__button">
                img(alt="icon" src="./img/main_button.png")
            </button>