.news
    .container
        .news__content
            .news__title LATEST NEWS
            .news__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .news__prewiew
                .news__prewiew_left
                    .news__prewiew_left_title The trending Landing Pages
                    .news__prewiew_left_title_more by <span class="blue">Kabir Uddin</span><p class="light">6950 Likes - 243 Comments - 703 shares</p>
                    .news__prewiew_left_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... 
                    .news__prewiew_left_link
                        a(class= 'news__prewiew_left_link_item', href="") + Read More
                .news__prewiew_left
                    .news__prewiew_left_title The Landing Pages
                    .news__prewiew_left_title_more by <span class="blue">Kabir Uddin</span><p class="light">2001 Likes - 563 Comments - 201 shares</p>
                    .news__prewiew_left_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis  et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... 
                    .news__prewiew_left_link
                        a(class= 'news__prewiew_left_link_item', href="") + Read More
                .news__prewiew_left
                    .news__prewiew_left_title Branding
                    .news__prewiew_left_title_more by <span class="blue">Kabir Uddin</span><p class="light">5633 Likes - 458 Comments - 954 shares</p>
                    .news__prewiew_left_text At vero eos et accusamus blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... 
                    .news__prewiew_left_link
                        a(class= 'news__prewiew_left_link_item', href="") + Read More
                .news__prewiew_right
                    .news__prewiew_right_button
                    .news__prewiew_right_button
                    .news__prewiew_right_button