.portfolio#portfolio
    .portfolio__title THE PORTFOLIO
    .portfolio__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
    .portfolio__links
        span.portfolio__links_item.portfolio__links_item_all All Works
        span.portfolio__links_item.portfolio__links_item_print Print                 
        span.portfolio__links_item.portfolio__links_item_identity Identity
        span.portfolio__links_item.portfolio__links_item_branding  Branding
        span.portfolio__links_item.portfolio__links_item_web Web    
        span.portfolio__links_item.portfolio__links_item_html HTML
        span.portfolio__links_item.portfolio__links_item_word Wordpress
    .portfolio__prewiew
        .portfolio__prewiew_item1.portfolio__prewiew_item.print
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item2.portfolio__prewiew_item.identity
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item3.portfolio__prewiew_item.branding
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item4.portfolio__prewiew_item.web
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item5.portfolio__prewiew_item.html
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item6.portfolio__prewiew_item.word
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item7.portfolio__prewiew_item.print
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item8.portfolio__prewiew_item.identity
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item9.portfolio__prewiew_item.branding
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item10.portfolio__prewiew_item.web
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item11.portfolio__prewiew_item.html
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item12.portfolio__prewiew_item.word
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
    .portfolio__footer
        .portfolio__footer_text At vero eos et <span class="white">accusamus</span> et iusto odio <span class="white">dignissimos</span> ducimus qui blanditiis 
        .portfolio__footer_button
             <button class="submit portfolio__footer_button_item">Start Project</button>


        