.portfolio
    .portfolio__title THE PORTFOLIO
    .portfolio__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
    .portfolio__links
        a(class= 'portfolio__links_item', href="") All Works
        a(class= 'portfolio__links_item', href="") Print                 
        a(class= 'portfolio__links_item', href="") Identity
        a(class= 'portfolio__links_item', href="")  Branding
        a(class= 'portfolio__links_item', href="") Web    
        a(class= 'portfolio__links_item', href="") HTML
        a(class= 'portfolio__links_item', href="") Wordpress
    .portfolio__prewiew
        .portfolio__prewiew_item1
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item2
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item3
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item4
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item5
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item6
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item7
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item8
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item9
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item10
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item11
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
        .portfolio__prewiew_item12
            .portfolio__prewiew_item_title TITLE HERE
            .portfolio__prewiew_item_line 
            .portfolio__prewiew_item_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .portfolio__prewiew_item_button
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_left.png")
                </button>
                <button class="submit portfolio__prewiew_item_button_active">
                    img(alt="icon" src="./img/portfolio_right.png")
                </button>
    .portfolio__footer
        .portfolio__footer_text At vero eos et <span class="white">accusamus</span> et iusto odio <span class="white">dignissimos</span> ducimus qui blanditiis 
        .portfolio__footer_button
             <button class="submit portfolio__footer_button_item">Start Project</button>


        