.price
    .container
        .price__contant
            .price__title Our Price
            .price__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .price__prewiew
                .price__prewiew_item
                    .price__prewiew_item_name PREMIUM
                    .price__prewiew_item_text <span class="blue price__active">$ 60</span>Per Month
                    .price__prewiew_item.price__prewiew_item_active
                        .price__prewiew_item_text Full Branding<br>Project Management<br>Unlimited Revisions<br>24/7 h Service<br>Free Domain<br>Free Hosting
                        .price__prewiew_item_name
                            <button class="submit price__button">Let’s Start ></button>
                .price__prewiew_item
                    .price__prewiew_item_name STANDART
                    .price__prewiew_item_text <span class="blue price__active">$ 40</span>Per Month
                    .price__prewiew_item.price__prewiew_item_active
                        .price__prewiew_item_text Full Branding<br>Project Management<br>Unlimited Revisions<br>24/7 h Service<br>Free Domain<br>Free Hosting
                        .price__prewiew_item_name
                            <button class="submit price__button">Let’s Start ></button>
                .price__prewiew_item
                    .price__prewiew_item_name EXCLUSIVE
                    .price__prewiew_item_text <span class="blue price__active">$ 80</span> Per Month
                    .price__prewiew_item.price__prewiew_item_active
                        .price__prewiew_item_text Full Branding<br>Project Management<br>Unlimited Revisions<br>24/7 h Service<br>Free Domain<br>Free Hosting
                        .price__prewiew_item_name
                            <button class="submit price__button">Let’s Start ></button>