.project
    .project__title FEATURED PROJECTS
    .project__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
    .project__prewiew
        .project__prewiew_left <p> DESIGN</p>
        .project__prewiew_center <p>VINTAGE</p>
        .project__prewiew_right <p>Branding</p>
    .project__footer
        .project__footer_left At vero eos et <span class="white">accusamus </span> et iusto odio dignissimos ducimus qui blanditiis 
        .project__footer_right
            <button class="submit project__button">Submit Now</button>