.services#services
    .container
        .services__content
            .services__title Our Services
            .services__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .services__prewiew
                .services__prewiew_left
                    .services__prewiew_left_item
                        img(alt="icon" src="./img/services4.png")
                    .services__prewiew_left_item
                        img(alt="icon" src="./img/services1.png")
                    .services__prewiew_left_item
                        img(alt="icon" src="./img/services2.png")
                    .services__prewiew_left_item
                        img(alt="icon" src="./img/services3.png")
                .services__prewiew_center
                    .services__prewiew_center_title Web Design
                    .services__prewiew_center_text At vero eos et accusamus et <span class="blue">iusto</span> odio dignissimos <span class="grey">ducimus</span> qui blanditiis praesentium voluptatum deleniti
                    .services__prewiew_center_text_item quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <span class="blue">similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                .services__prewiew_center
                    .services__prewiew_center_title Graphic Design
                    .services__prewiew_center_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .services__prewiew_center_text_item quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <span class="blue">similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                .services__prewiew_center
                    .services__prewiew_center_title UI/UX
                    .services__prewiew_center_text At vero eos et accusamus et <span class="blue">iusto</span> odio dignissimos <span class="grey">ducimus</span> qui blanditiis praesentium voluptatum deleniti
                    .services__prewiew_center_text_item At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                .services__prewiew_center
                    .services__prewiew_center_title Branding
                    .services__prewiew_center_text At vero eos et accusamus et <span class="blue">iusto</span> odio dignissimos <span class="grey">ducimus</span> qui blanditiis praesentium voluptatum deleniti
                    .services__prewiew_center_text_item quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <span class="blue">similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                .services__prewiew_right
                    .services__prewiew_right_item
                        .services__prewiew_right_item_icon 80%
                        .services__prewiew_right_item_title Branding
                    .services__prewiew_right_item
                        .services__prewiew_right_item_icon 75%
                        .services__prewiew_right_item_title Web Design
                    .services__prewiew_right_item
                        .services__prewiew_right_item_icon 60%
                        .services__prewiew_right_item_title UI/UX
