.submit_all
    .container
        .submit_all__content
            .submit_all__content_prewiew
                <input class="search submit_all__content_prewiew_item" value="Your name">
                <input class="search submit_all__content_prewiew_item" value="Email Address">
                <input class="search submit_all__content_prewiew_item" value="Subject">
            <input class="search submit_all__content_item" value="">
            <button class="submit submit_all__content_button">SUBMIT NOW</button>