.subscribe
    .container
        .subscribe__content
            .subscribe__title Subscribe us
            .subscribe__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .subscribe__prewiew
                <input class="search subscribe__prewiew_item" value="Email Address">
                <button class="submit subscribe__prewiew__button">SUBMIT</button>