.team#team
    .container
        .team__content
            .team__title THE TEAM
            .team__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .team__prewiew
                .team__prewiew_item
                    .team__prewiew_left
                        img.team__prewiew_left(alt="icon" src="./img/team_men4.png")
                    .team__prewiew_right
                        .team__prewiew_right_title Abdullah Noman <p class="kours">Creative Director, Code Cafe</p>
                        .team__prewiew_right_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .team__prewiew_right_content
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left BRANDING
                                .team__prewiew_right_content_title_right 80 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left Web Design
                                .team__prewiew_right_content_title_right 65 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more2
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left User Interface
                                .team__prewiew_right_content_title_right 75 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more3
                .team__prewiew_item             
                    .team__prewiew_left
                        img.team__prewiew_left(alt="icon" src="./img/team_men2.png")
                    .team__prewiew_right
                        .team__prewiew_right_title Luka Wonder <p class="kours">Web Disainer, Code Cafe</p>
                        .team__prewiew_right_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .team__prewiew_right_content
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left BRANDING
                                .team__prewiew_right_content_title_right 65 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more4
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left Web Design
                                .team__prewiew_right_content_title_right 80 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more5
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left User Interface
                                .team__prewiew_right_content_title_right 75 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more6
                .team__prewiew_item
                    .team__prewiew_left
                        img.team__prewiew_left(alt="icon" src="./img/team_men3.png")
                    .team__prewiew_right
                        .team__prewiew_right_title Andrew Charling <p class="kours">Fronted Developer, Code Cafe</p>
                        .team__prewiew_right_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .team__prewiew_right_content
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left BRANDING
                                .team__prewiew_right_content_title_right 65 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more7
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left Web Design
                                .team__prewiew_right_content_title_right 75 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more8
                            .team__prewiew_right_content_title
                                .team__prewiew_right_content_title_left User Interface
                                .team__prewiew_right_content_title_right 80 %
                            .team__prewiew_right_content_line
                                .team__prewiew_right_content_line_more9
            .team__button
                .team__button_item
                .team__button_item
                .team__button_item
