.test#blog
    .container
        .test__content
            .test__title Testimonials
            .test__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            .test__prewiew
                .test__prewiew_item
                    .test__prewiew_item_left
                        img(alt="icon" src="./img/MD.png")
                    .test__prewiew_item_right
                        .test__prewiew_item_right_text  vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                        .test__prewiew_item_right_title <span class='blue'>PARTHO</span><p> FOUNDER, ARTWAYS BD</p>
                .test__prewiew_item
                    .test__prewiew_item_left
                        img(alt="icon" src="./img/RM.png")
                    .test__prewiew_item_right
                        .test__prewiew_item_right_text At  ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                        .test__prewiew_item_right_title <span class='blue'>Oliver</span><p> CREATIVE, ARTWAYS BD</p>
                .test__prewiew_item
                    .test__prewiew_item_left
                        img(alt="icon" src="./img/SM.png")
                    .test__prewiew_item_right
                        .test__prewiew_item_right_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                        .test__prewiew_item_right_title <span class='blue'>Mat</span><p> FOUNDER, ARTWAYS BD</p>
                .test__prewiew_button
                    .test__prewiew_button_item
                    .test__prewiew_button_item
                    .test__prewiew_button_item
