.test{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }
    &__title{
        opacity: 0.9;
        color: #333b46;
        font-family: "Source Sans Pro";
        font-size: 20px;
        font-weight: 300;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-bottom: 40px;
    }
    &__text{
        width: 30%;
        text-align: center;
        color: #81868e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 60px;
    }
    &__prewiew{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        margin-bottom: 100px;
        &_item{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            display: none;
            flex-wrap: wrap;
            &_left{
                width: 30%;
                display: flex;
                align-items: flex-start;
                justify-content: center;

            }
            &_right{
                width: 70%;
                &_text{
                    width: 80%;
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    padding-bottom: 30px;
                }
                &_title{
                    color: #464646;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: uppercase
                }
            }
        }
        &_button{
            width: 60px;
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
            &_item{
                width: 10px;
                height: 10px;
                background-color: #ffffff;
                border-radius: 50%;
                border: 1px solid #19bd9a;
                &:hover{
                    background-color: #19bd9a;
                }
            }
        }

    }
    
}
@media (max-width:1025px){
    .test__prewiew_item_right {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
    }
    .test__prewiew_item_left{
        width: 50%;
    }
}
@media (max-width:769px){
    .test__prewiew_item_left{
        width: 100%;
        margin-bottom: 10px;
    }
    .test__prewiew_item_right{
        width: 100%;
    }
    .test__text{
        width: 100%;
    }
}